{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block title %} {{ title }} {% endblock %}
{% block external %}
{% endblock %}


{% block content %}
<div class="grid-container fluid">
  <div class="grid-x"><div class=cell></div>&nbsp</div>
  {% if user.is_authenticated%}
    <div class= "grid-x grid-margin-x">
      <div class="cell small-12">
        <a href="/submit/" class="button">New Submission</a>
      </div>
      {% if job_list %}
      <div class="cell small-12">
        <table id="clickable" class="hover">
          <thead>
            <tr>
              <th>Task #</th>
              <th>Status</th>
              <th>Time Started</th>
              <th>Progress</th>
            </tr>
            </thead>
          <tbody>
            {% for job in job_list %}
              {% if job.owner == user %}
              <tr class="user-color">
                <td style="display:none"><a href="/runlab/{{job.id}}"></a></td>
                <td>{{job.id}}</td>
                <td>{{job.status}}</td>
                <td>{{job.time_started}}</td>
                <td>
                  <!-- <div class="progress-wrapper">
                    <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 100%;">&nbsp</div>
                  </div>
                  <div id="progress-bar-message">Waiting...</div>
                  <script>
                    // function customProgress(progressBarElement, progressBarMessageElement, progress) {
                    //   progressBarElement.style.width = progress.percent + "%";
                    //   progressBarMessageElement.innerHTML = (progress.percent + "%");
                    //   }
                    var progressUrl = "{% url 'celery_progress:task_status' job.task_id %}";
                    document.addEventListener("DOMContentLoaded", function () {
                      CeleryProgressBar.initProgressBar(progressUrl);
                    });
                  </script> -->
                </td>
              </tr>
              {% else %}
              <tr>
                <td>{{job.id}}</td>
                <td>{{job.status}}</td>
                <td>{{job.time_started}}</td>
                <td>
                  <!-- <div class="progress-wrapper">
                    <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 100%;">&nbsp</div>
                  </div>
                  <div id="progress-bar-message">Waiting...</div>
                  <script>
                    // function customProgress(progressBarElement, progressBarMessageElement, progress) {
                    //   progressBarElement.style.width = progress.percent + "%";
                    //   progressBarMessageElement.innerHTML = (progress.percent + "%");
                    //   }
                    var progressUrl = "{% url 'celery_progress:task_status' job.task_id %}";
                    document.addEventListener("DOMContentLoaded", function () {
                      CeleryProgressBar.initProgressBar(progressUrl);
                    });
                  </script> -->
                </td>
              </tr>
              {% endif %}
              {% endfor %}
          </tbody>
      </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="grid-x grid-margin-x">
    <div class="cell">
      {% render_table u_list %}
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
{% endblock%}
