{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
{% endblock %}


{% block content %}
<div class="grid-container fluid">
  <div class="grid-x">
    <div class=cell></div>&nbsp</div>
  {% if user.is_authenticated%}
    <div class= "grid-x grid-margin-x align-center">
      <div class="cell medium-10">
        <a href="/submit/" class="button">New Submission</a>
      </div>
    </div>
  {% endif%}
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-10">
      {% render_table u_list %}
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
{% endblock%}
