{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block head %}
<title> Profile</title>
{% endblock %}

{% block content %}
&nbsp;
<div class="grid-container fluid">
  <div class="grid-x">
    {% if user.profile.max_score %} -->
    <h3>Best score: {{max_score}}</h3>
    {% endif %}
    </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table>
        <thead>
          <tr>
            <th style="display:none"></th>
            <th>Attempt #</th>
            <th>Score</th>
            <th>&nbsp;</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in history %}
          <tr>
            <td>{{entry.id}}</td>
            <td>{{entry.score}}</td>
            <td>{{entry.time_stamp}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table id="clickable" class="hover">
        <thead>
          <tr>
            <th>Job #</th>
            <th>Status</th>
            <th>Time started</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in open_jobs %}
          <tr>
            <td style="display:none"><a href="/runlab/{{entry.id}}"></a></td>
            <td>{{entry.jid}}</td>
            <td>{{entry.status}}</td>
            {% localtime on  %}
            <td>{{entry.time_created}}</td>
            {% endlocaltime %}
            <td>
              <div class="progress-wrapper">
                <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 100%;">&nbsp</div>
              </div>
              <div id="progress-bar-message">Waiting...</div>
              <script>
                var progressUrl = "{% url 'celery_progress:task_status' entry.task_id %}";
                $(function () {
                  CeleryProgressBar.initProgressBar(progressUrl)
                });
              </script>
            </td>
            <td>
              <form action="{% url 'perfapp:Stop' entry.jid %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="button alert" value="Stop" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
{% endblock %}
