{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block head %}
<title> Profile</title>
<script>
  function redirect(){
    window.location.href = "/profile/";
  } setTimeout(redirect, 300000);
</script>
{% endblock %}

{% block content %}
&nbsp;
<div class="grid-container fluid">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
    <h4>User #: {{user.id}}</h4>
    {% if history != None%}
    <form action="{% url 'perfapp:Clear_All_Att'%}" method="post">
    {% csrf_token %}
    <input type="Submit" class="hollow button alert" value="Clear All Attempts" onclick="return confirm('Are you sure? This cannot be undone.')" />
    </form>
    {% endif%}
  </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table>
        <thead>
          <tr data-toggle="_attempts_table">
            <th style="display:none"></th>
            <th>Attempt #</th>
            <th>Score</th>
            <th>&nbsp;</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in history %}
          <tr data-toggle="att_drop_{{entry.id}}">
            <td>{{entry.id}}</td>
            <td>{{entry.score}}</td>
            <td>&nbsp</td>
            <td>{{entry.time_stamp}}</td>
            <div class="dropdown-pane" id="att_drop_{{entry.id}}" data-dropdown data-hover="true" data-hover-pane="true">
              {{entry.result_out|linebreaksbr}}
              {% if entry.notefield != None%}
              </br>
              {{entry.notefield|linebreaksbr}}
              {%endif%}
              </br></br>
              <form action="{% url 'perfapp:Delete_Att' entry.id %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="hollow button alert" value="Clear Attempt" />
              </form>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell">&nbsp</div>
      <div class="cell medium-8">
        <a href="/submit/" class="button">New Submission</a>
        <a href="/clear/" class="button alert" onclick="return confirm('Are you sure? This cannot be undone.')">Clear Job Queue</a>
      </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table class="hover">
        <thead>
          <tr>
            <th>Job #</th>
            <th>Status</th>
            <th>Time started</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in open_jobs %}
          <tr id="row_{{entry.id}}" data-open="Modal-{{entry.id}}">
            <div class="reveal" id="Modal-{{entry.id}}" data-reveal>
            <h4 id="_action_{{entry.id}}">{{entry.cur_action}}</h4>
            <button class="close-button" data-close aria-label="close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <td>{{entry.jid}}</td>
            <td><p id="_status_{{entry.id}}">{{entry.status}}</p></td>
            {% localtime on  %}
            <td>{{entry.time_created}}</td>
            {% endlocaltime %}
            {% if entry.status == 'RUNNING'%}
            <td id="_prog-bar">
              {% include "job_frag.html"%}
            </td>
            <td>
              <form action="{% url 'perfapp:Stop' entry.jid %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="button alert" value="Stop" />
              </form>
            </td>
            {%elif entry.status == 'Pending'%}
            <td>
              <form action="{% url 'perfapp:Cancel' entry.jid %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="button warning" value="Cancel" />
              </form>
            </td>
            {%elif entry.status == 'ERROR'%}
            <td>
              <form action="{% url 'perfapp:Cancel' entry.jid %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="button secondary" value="Clear" />
              </form>
            </td>
            {%else%}
            <td>&nbsp&nbsp</td>
            {% endif %}
            <script>
              var Row = {};
              $(document).ready(function(){
                Row['stat_int_{{entry.id}}'] = setInterval(stat_poll, 5000);
                function stat_poll(){
                    $.get("{% url 'perfapp:status' entry.jid%}", function(data){
                      console.log(Row['stat_int_{{entry.id}}']);
                      console.log(data);
                      var stat = data.split(" ")[0];
                      var new_stat = data;
                      //.replace("\n", '</br>')
                      if(Row["last_stat_{{entry.id}}"] =="Pending"  && data=="RUNNING"){
                        //$('#_prog_bar').load(location.href + " #_prog-bar");
                         window.location.href = "/profile/";
                      }
                      if(stat == 'NOT_FOUND'){
                        clearInterval(Row['stat_int_{{entry.id}}']);
                        // window.location.href = "/profile/";
                      }
                      else if (stat == "COMPLETE" || stat=="STOPPED"){
                        $('#_status_{{entry.id}}').text(new_stat);
                        clearInterval(Row['stat_int_{{entry.id}}']);
                      }
                      else{
                        $('#_status_{{entry.id}}').text(new_stat);
                      }
                      Row["last_stat_{{entry.id}}"] = stat;
                    }, 'html');
                  };
                Row['act_int_{{entry.id}}'] = setInterval(poll, 5000);
                function poll(){
                    $.get("{% url 'perfapp:action' entry.jid%}", function(data){
                      console.log(Row['last_act_{{entry.id}}']);
                      console.log(data);

                      if(data=='NOT_FOUND'){
                        clearInterval(Row['act_int_{{entry.id}}']);
                      }
                      else if(Row["last_act_{{entry.id}}"]==""){
                        $('#_action_{{entry.id}}').text(data)
                      }
                      else if( Row["last_act_{{entry.id}}"] != data){
                        $('#_action_{{entry.id}}').append("</br>", data);
                      }
                      Row["last_act_{{entry.id}}"] = data;

                    }, 'html');
                  };

              });
            </script>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <div style="display:inline;">
         <h4> Error Reports</h4>
         {% if errors != None %}
         <form action="{% url 'perfapp:Clear_All_Errs'%}" method="post">
           {% csrf_token %}
           <input type="Submit" class="hollow button alert" value="Clear All Errors" onclick="return confirm('Are you sure? This cannot be undone.')" />
         </form>
         {%endif%}
    </div>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table class="hover">
        <thead>
          <tr>
            <th>From Job #</th>
            <th>Timestamp</th>
            <th>&nbsp</th>
            <th>&nbsp</th>
            </tr>
          </thead>
        <tbody>
          {% for err in errors %}
          <div class="reveal" id="Modal-{{err.id}}" data-reveal>
            <h4>Errors for job# {{err.from_job_id}}</h4>
            <p>
              {{err.errors|linebreaks}}
              </p>
            <button class="close-button" data-close aria-label="close modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <tr>
            <td> {{err.from_job_id}}</td>
            <td> {{err.time_stamp}}</td>
            <td><button class="button" data-open="Modal-{{err.id}}">Error Report</button></td>
            <td>
              <form action="{% url 'perfapp:Delete' err.id %}" method="post">
              {% csrf_token %}
              <input type="Submit" class="button alert" value="Delete" />
              </form></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
{% endblock %}
