{% extends "base.html" %}
{% load static %}
{% load tz %}
{% block head %}
<title> Profile</title>
{% endblock %}

{% block content %}
&nbsp;
<div class="grid-container fluid">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
    <h4>User #: {{user.id}}</h4>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table>
        <thead>
          <tr>
            <th style="display:none"></th>
            <th>Attempt #</th>
            <th>Score</th>
            <th>&nbsp;</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in history %}
          <tr>
            <td>{{entry.id}}</td>
            <td>{{entry.score}}</td>
            <td>&nbsp</td>
            <td>{{entry.time_stamp}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
      <div class="cell medium-8">
        <a href="/submit/" class="button">New Submission</a>
        <a href="/clear/" class="button alert">Clear Job Queue</a>
      </div>
  </div>
  <div class="grid-x grid-padding-x align-center">
    <div class="cell medium-8">
      <table class="hover">
        <thead>
          <tr>
            <th>Job #</th>
            <th>Status</th>
            <th>Time started</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in open_jobs %}
          <tr>
            <td><a href="/runlab/{{entry.id}}">{{entry.jid}}</a></td>
            <td><a href="/runlab/{{entry.id}}">{{entry.status}}</a></td>
            {% localtime on  %}
            <td><a href="/runlab/{{entry.id}}">{{entry.time_created}}</a></td>
            {% endlocaltime %}
            {% ifnotequal entry.status 'Stopped'%}
            <td><a href="/runlab/{{entry.id}}">
              <div class="progress-wrapper">
                <div id="progress-bar {{entry.jid}}" class="progress-bar" style="background-color: #68a9ef; width: 100%;">&nbsp</div>
              </div>
              <div id="progress-bar-message {{entry.jid}}">Waiting...</div>
              <script>
                var progressUrl = "{% url 'celery_progress:task_status' entry.task_id %}";
                document.addEventListener("DOMContentLoaded", function () {
                  CeleryProgressBar.initProgressBar(progressUrl, {progressBarId: "progress-bar {{entry.jid}}", progressBarMessageId: "progress-bar-message {{entry.jid}}"});
                });
              </script>
              </a>
            </td>
            <td>
              <form action="{% url 'perfapp:Stop' entry.jid %}" method="post">
                {% csrf_token %}
                <input type="Submit" class="button alert" value="Stop" />
              </form>
            </td>
            {%else%}
            <td>&nbsp&nbsp</td>
            {% endifnotequal %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
{% endblock %}
