{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
{% if not job%}
<script>
  function redirect(){
    window.location.href = "/profile/";
  } setTimeout(redirect, 3000);
</script>
{% else %}
  <div class="grid-container fluid">
    <div class="grid-x">
      <div class="cell small-6 medium-10">&nbsp</div>
      <div class="cell small-6 medium-10">
        <div id='job_fr'>
        {% if job %}
        {% include 'job_frag.html' %}
        <script>
          var $job_id = {{job.id}}
          setInterval(
          function(job_id){
            $('#job_fr').load("{% url 'perfapp:Polling' {{job.id}}")
          }, 3000
        );
        </script>
        {% else %}
        </div>
        <center>
          <h3>Job not found.</h3>
        </center>
        {% endif %}
      <div class="cell small-6 medium-10">&nbsp</div>
      </div>
    </div>
  {% endif %}
{% endblock %}
