{% extends "base.html" %}
{% block title %} {{ page_name }} {% endblock %}
{% block external %}
<script type="text/javascript" src="site_media/jquery.js"></script>
<script>

/*new Ajax.Request('/test2', {
  method:'get',
  onSuccess: function(transport) {
    var response = transport.responseText || "no response text";
    //alert("Success! \n\n" + response);
    $('content').replace(response)
    new Ajax.Request('/test3', {
      method:'get',
      onSuccess: function(transport) {
        var response2 = transport.responseText || "no response text";
        //alert("Success! \n\n" + response);
        $('content').replace(response2)
      },
      onFailure: function() { alert('Something went wrong...'); }
    });

  },
  onFailure: function() { alert('Something went wrong...'); }
});*/

$(function() {
    $.ajax({ url: "/test2",
        context: document.body,
        success: function(response){
           $('#content').replaceWith(response)
           $.ajax({ url: "/test3",
               context: document.body,
               success: function(response2){
                $('#content').replaceWith(response2)
                alert("done");
            }});
    }});
});
</script>
{% endblock %}
{% block head %}
Testing
{% endblock %}
{% block content %}

<div id="content">Testing </div>

{% endblock %}
