footer { background-color:red; margin-top:100px}
.column, .columns{
  min-height: 1px;
}

.user-color{ background-color: $maroon;}

td a {
   display: block;
   /* border: 1px solid black; */
   padding: 16px;
}
